###############################################################################
# Python Packages
###############################################################################

ldap3

boto3

botocore

pywinrm

requests